enableMostWatchedFilter = __FEATURE_FLAG_ENABLE_MOST_WATCHED_FILTER__;
enableMostWatchedClickTracking = __FEATURE_FLAG_ENABLE_MOST_WATCHED_CLICK_TRACKING__;
enableActiveDates = __FEATURE_FLAG_ENABLE_ACTIVE_DATES__;
interestingFlightsApiUrl = '__INTERESTING_FLIGHTS_API_URL__';
